body {
    height: 5000px;
}

* {
    box-sizing: border-box;
}

fieldset {
    border-radius: 30px;
}

input {
    border: none;
}

input.username {
    color: #F00;
    font-weight: bold;
}

input.username,
input.userPassword {
    border-bottom: 5px solid #17bfc5;
}

select {
    border-radius: 5px;
    background-color: #0fa2a9;
}

.submit {
    width: 120px;
    height: 40px;
    background-color: #c1a7b0;
    color: #f8b703;
    font-weight: bold;
}

.parent>.child {
    font-weight: bold;
    color: red;
}

.bg_explain {
    background-image: url(../images/nature-sm.jpg);
    height: 600px;
    width: 600px;
    /* background-size: cover; */
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    /* background: url(../images/nature.jpg) no-repeat ; */
}

.gradient_explain {
    height: 600px;
    width: 600px;
    /* background-image: linear-gradient(#F00, #00F); */
    /* background-image: repeating-linear-gradient(#F00, #00F 50%); */
    /* background-image: radial-gradient(#F00, #00F); */
    background-image: repeating-radial-gradient(#F00, #00F 50%);
}

.items_parent {
    background-color: #29ad07;
    /* height: 100px; */
}

.items_parent .item {
    height: 40px;
    width: 120px;
    background-color: #EEE;
    border: 1px solid #999;
    margin: 20px;
    float: left;
}

.items_parent::after{
    content: "";
    display: block;
    clear: both;
}

.clear {
    clear: both;
}